
    <div class="bg"></div>
      <div id="homepage" class="pure-u-1">
            <h1>Na<br>ne</h1>
            <h2>Web &amp; Design</h2>
      </div>
      <div class="bg2 pure-u-1 page">
          <div class="scroll pure-u-1-4">
            <h3>Hello</h3>
            <p>I'm a 23 year old student from Antwerp. Currently I am studying Graphical and Digital media at AP and I like playing with all forms of digital media. ;)</p>
            <span id="work">Skills</span>   
            <span id="contact">Contact</span>  
          </div>
      </div>

   
    <div id="workPage" class="pure-u-1 page">
             <h3>Skills</h3>
    </div>

 <div id="contactPage" class="pure-u-1 page">
        <h3>Say Hi!</h3>
        <form class="pure-form">
        <fieldset class="pure-group">
            <input type="text" class="pure-input-1-2" placeholder="Name">
            <input type="email" class="pure-input-1-2" placeholder="Email">
        </fieldset>
    
        <fieldset class="pure-group">
            <input type="text" class="pure-input-1-2" placeholder="A title">
            <textarea class="pure-input-1-2" placeholder="Textareas work too"></textarea>
        </fieldset>
    
        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Send</button>
    </form>
    </div>